body {
    background-color: #f3e5d7;
}


.container {
    width: 1440px;
    height: 1956px;
    padding: 128px 352px;
}


.list {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 736px;
    height: 1700px;
}


.picture {
    margin: 40px;
}
.picture-1 {
    width: 656px;
}


.main-text {
    display: flex;
    flex-direction: column;
    width: 656px;
    height: 1280px;
    margin: 0px 40px 40px 40px;
}


.simple-omelette-recipe {
    height: 112px;
    margin-bottom: 32px;
}
.sor-title {
    color: #272523;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    height: 40px;
    font-size: 40px;
    margin-bottom: 24px;
}
.sor-text {
    color: #5f564d;
    height: 48px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}


.preparation-time {
    background-color: #fff7fb;
    height: 172px;
    border-radius: 12px;
    margin-bottom: 32px;
    padding: 24px;
}
.pt-title {
    color: #7a284e;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    line-height: 100%;
    font-weight: 600;
    height: 20px;
    margin-bottom: 16px;
    font-size: 20px;
}
.pt-text {
    color: #5f564d;
    font-family: "Outfit", sans-serif;
    height: 88px;
    font-size: 16px;
}
.pt-text > ul {
    margin: 0px;
    padding: 0px;
}

.pt-text li {
    margin-left: 32px;
    padding-left: 8px;
    height: 24px;
    margin-bottom: 8px;
}



.Ingredients {

    height: 204px;
    width: 656px;
    margin-bottom: 32px;
}
.ing-title {
    color: #854632;
    font-family: "Young Serif", serif;
    font-size: 28px;
    height: 28px;
    margin-bottom: 24px;
}
.ing-text {
    color: #5f564d;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    height: 152px;
    width: 656px;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
}
.ing-text ul {
    height: 152px;
    margin: 0px;
    padding: 0px;
}
.ing-text li {
    margin-left: 32px;
    padding-left: 16px;
    height: 24px;
    margin-bottom: 8px;
}





.Instructions {
    height: 332px;
    margin-bottom: 32px;
}
.ins-title {
    color: #854632;
    font-family: "Young Serif", serif;
    font-size: 28px;
    height: 28px;
}
.ins-text {
    margin-top: 24px;
    font-family: "Outfit", sans-serif;
    height: 280px;
    line-height: 150%;
    color: #5f564d;
}
.ins-text ol {
    margin: 0px;
    padding: 0px;
}
.ins-text li {
    margin-left: 24px;
    padding-left: 16px;
    margin-bottom: 8px;
}
.ins-text li:nth-child(6) {
    margin-bottom: 0px;
}


.Nutrition {
    height: 268px;
}
.n-title {
    margin-bottom: 24px;
font-size: 28px;
    color: #854632;
    font-family: "Young Serif", serif;
    height: 28px;
}
.n-text {
    font-size: 16px;
    line-height: 150%;
    color: #5f564d;
    font-family: "Outfit", sans-serif;
    height: 24px;
    margin-bottom: 24px;
}


/*.row {
    width: 656px;
    display: table-row;
    height: 24px;
    padding: 0px 32px;
}

.cell {
    width: 288px;
    height: 24px;
    display: table-cell;2
    border: 1px solid black;
}
.n-table > .row:nth-child(4) > .cell {
    border: none;
}
.cell1 {
    margin-right: -32px;
    
}
.cell-2 {
    margin-right: 32px;
}*/





.divider{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #e3ddd7;
    margin-bottom: 32px;
}
.hr {
    width: auto;
    border: none;
    height: 1px;
    background-color: #e3ddd7;
    margin-bottom: 12px;
}

.table {
}
table {
    font-family: "Outfit", sans-serif;
    color: #5f564d;
    width: 656px;
    border-collapse: collapse;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

tr {
    width: 656px;
}
td {
    line-height: 150%;
    width: 288px;
}

tr:nth-child(4) > td {
    border: none;
}

.td1 {
    width: 288px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    padding-left: 32px;
}
.td2 {
    height: 24px;
    margin: 0px;
    padding: 0px;
    color: #854632;
    font-weight: bold;
    padding-right: 32px;
}